@import "tailwindcss";

@theme {
  --color-prime: #bb07b1;
  --color-prime2: #9b06e8;
  --color-prime3: #9b06e8;
  --color-whiteoff: #f8f7f7;
  --font-poppins: var(--font-poppins);
  --font-roboto: var(--font-roboto);
  

}
@utility font-poppins {
  font-family: var(--font-poppins), sans-serif;
}
@utility font-roboto {
  font-family: var(--font-roboto), sans-serif;
}

:root {
  --background: white;
  --foreground: #171717;
  --prime2: #db65e3;
  --prime: #003b7a;
}


.editor-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.jodit-wysiwyg {
  height: 100% !important;
  overflow: auto;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
/*  */

